<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{client/layout/head::head}"></head>
<body>

<!-- header section start -->
<header th:replace="~{client/layout/header::header}"></header>
<!-- header section end -->
<!-- pages-title-start -->
<div class="pages-title section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="pages-title-text text-center">
                    <h2>Checkout</h2>
                    <ul class="text-left">
                        <li><a th:href="@{/}">Home </a></li>
                        <li><span> // </span><a th:href="@{/cart}">Cart </a></li>
                        <li><span> // </span>Checkout</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- pages-title-end -->
<!-- Checkout content section start -->
<section class="pages checkout section-padding">
    <div class="">
        <div class="row">
            <div class="col-md-6">
                <div class="main-input single-cart-form padding60">
                    <div class="log-title">
                        <h3><strong>billing details</strong></h3>
                    </div>
                    <div class="custom-input">
                        <form action="#">
                            <input type="text" name="name" placeholder="Your name" />
                            <input type="text" name="phone" placeholder="Phone here" />
                            <input type="text" name="address" placeholder="Address here" />
                            <div class="row">
                                <div class="col-md-4">
                                    <label>
                                        <select class="form-select">
                                            <option th:value="null"> Chọn thành phố</option>
                                        </select>
                                    </label>
                                </div>
                                <div class="col-md-4">
                                    <label>
                                        <select class="form-select">
                                            <option th:value="null"> Chọn huyện</option>
                                        </select>
                                    </label>
                                </div>
                                <div class="col-md-4">
                                    <label>
                                        <select class="form-select">
                                            <option th:value="null"> Chọn xã phường</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <br>
                            <div class="custom-mess">
                                <textarea rows="2" placeholder="Note your here" name="message"></textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="padding60">
                    <div class="log-title">
                        <h3><strong>Our order</strong></h3>
                    </div>
                    <div class="cart-form-text pay-details table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>$86.00</td>
                                    <td>$86.00</td>
                                    <td>$86.00</td>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <tr>
                                <th>Tạm tính</th>
                                <td>$155.00</td>
                            </tr>
                            <tr>
                                <th>Shipping and Handing</th>
                                <td>$15.00</td>
                            </tr>
                            <tr>
                                <th>Vat</th>
                                <td>$00.00</td>
                            </tr>
                            <tfoot>
                            <tr>
                                <th>Tổng</th>
                                <td>$325.00</td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Checkout content section end -->
<!-- footer section start -->
<div th:replace="~{client/layout/footer::footer}"></div>
<!-- footer section end -->

<!-- jquery latest version -->
<div th:replace="~{client/layout/script::script}"></div>
</body>

</html>
