<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{client/layout/head::head}"></head>

<link rel="stylesheet" th:href="@{/client/css/cart/checkout.css}">

<body>

<!-- header section start -->
<header th:replace="~{client/layout/header::header}"></header>
<!-- header section end -->
<!-- pages-title-start -->
<div class="pages-title section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="pages-title-text text-center">
                    <h2>Checkout</h2>
                    <ul class="text-left">
                        <li><a th:href="@{/}">Home </a></li>
                        <li><span> // </span><a th:href="@{/cart}">Cart </a></li>
                        <li><span> // </span>Checkout</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- pages-title-end -->
<!-- Checkout content section start -->
<section class="pages checkout section-padding">
    <div class="">
        <div class="row">
            <div class="col-md-7">
                <div class="main-input single-cart-form padding60">
                    <div class="log-title">
                        <h3><strong>Thông tin giao hàng</strong></h3>
                    </div>
                    <div class="custom-input">
                        <form action="#">
                            <input type="text" name="name" placeholder="Họ tên"/>
                            <input type="text" name="phone" placeholder="Số điện thoại"/>
                            <input type="text" name="email" placeholder="Email"/>
                            <input type="text" name="address" placeholder="Địa chỉ cụ thể"/>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>
                                        <select class="form-select" name="province" id="provinceSelect">
                                            <option value=""> Chọn thành phố</option>
                                        </select>
                                    </label>
                                </div>
                                <div class="col-md-4">
                                    <label>
                                        <select class="form-select" name="district" id="districtSelect">
                                            <option value=""> Chọn huyện</option>
                                        </select>
                                    </label>
                                </div>
                                <div class="col-md-4">
                                    <label>
                                        <select class="form-select" name="ward" id="wardSelect">
                                            <option value=""> Chọn xã phường</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <br>
                            <div class="custom-mess">
                                <textarea rows="2" placeholder="Note your here" name="message"></textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="padding60">
                    <div class="log-title">
                        <h3><strong>Thanh toán</strong></h3>
                    </div>
                    <div class="cart-form-text pay-details table-responsive">
                        <table>
                            <thead>
                            <tr>
                                <th class="product">Product</th>
                                <th class="quantity th-quantity">Quantity</th>
                                <th class="price">Price</th>
                            </tr>
                            </thead>
                            <tbody id="listProduct">

                            </tbody>
                        </table>
                        <table>
                            <tr>
                                <th>Tạm tính</th>
                                <td id="totalPriceProducts"></td>
                            </tr>
                            <tr>
                                <th>Phí ship</th>
                                <td>Liên hệ sau</td>
                            </tr>
                            <tr>
                                <th>Thời gian dự kiến</th>
                                <td id="estimatedDeliveryTime"></td>
                            </tr>
                            <tfoot>
                            <tr>
                                <th>Tổng</th>
                                <td id="totalPrice"></td>
                            </tr>
                            </tfoot>
                        </table>
                        <table>
                            <tr>
                                <td class="pay">
                                    <input type="radio" name="paymentMethod" value="cod" checked>
                                    <label>Thanh toán khi nhận hàng</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="pay">
                                    <input type="radio" name="paymentMethod" value="vnPay">
                                    <label>VN PAY</label>
                                </td>
                            </tr>
                        </table>
                        <div class="submit-text coupon thanh-toan">
                            <a onclick="" type="button" id="checkoutBtn">Thanh toán</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Checkout content section end -->
<!-- footer section start -->
<div th:replace="~{client/layout/footer::footer}"></div>
<!-- footer section end -->

<!-- jquery latest version -->
<div th:replace="~{client/layout/script::script}"></div>
<script th:src="@{/client/js/cart/checkout.js}"></script>
<script th:src="@{/client/js/cart/check-out.js}"></script>
<script>
    $(document).ready(function () {
        // Gọi API để lấy dữ liệu tỉnh/thành phố
        $.ajax({
            url: 'https://dev-online-gateway.ghn.vn/shiip/public-api/master-data/province',
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'Token': 'a76df0d2-77a1-11ee-b1d4-92b443b7a897'
            },
            success: function (data) {
                if (data.code === 200) {
                    const select = $('#provinceSelect');
                    data.data.forEach(province => {
                        const option = $('<option>').val(province.ProvinceID).text(province.ProvinceName);
                        select.append(option);
                    });
                } else {
                    console.error("Failed to fetch province data");
                }
            },
            error: function (xhr, status, error) {
                console.error("Error fetching province data:", error);
            }
        });

        // Gọi API để lấy dữ liệu quận/huyện khi thay đổi tỉnh/thành phố
        $('#provinceSelect').change(function () {
            const provinceID = $(this).val();
            $.ajax({
                url: 'https://dev-online-gateway.ghn.vn/shiip/public-api/master-data/district',
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'Token': 'a76df0d2-77a1-11ee-b1d4-92b443b7a897'
                },
                data: {
                    province_id: provinceID
                },
                success: function (data) {
                    if (data.code === 200) {
                        const select = $('#districtSelect');
                        select.empty();
                        data.data.forEach(district => {
                            const option = $('<option>').val(district.DistrictID).text(district.DistrictName);
                            select.append(option);
                        });
                    } else {
                        console.error("Failed to fetch district data");
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Error fetching district data:", error);
                }
            });
        });

        // Gọi API để lấy dữ liệu phường/xã khi thay đổi quận/huyện
        $('#districtSelect').change(function () {
            const districtID = $(this).val();
            $.ajax({
                url: 'https://dev-online-gateway.ghn.vn/shiip/public-api/master-data/ward?district_id=' + districtID,
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'Token': 'a76df0d2-77a1-11ee-b1d4-92b443b7a897'
                },
                success: function (data) {
                    if (data.code === 200) {
                        const select = $('#wardSelect');
                        select.empty();
                        data.data.forEach(ward => {
                            const option = $('<option>').val(ward.WardCode).text(ward.WardName);
                            select.append(option);
                        });
                    } else {
                        console.error("Failed to fetch ward data");
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Error fetching ward data:", error);
                }
            });
        });
    });
</script>

</body>

</html>
