<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/layout/head::head"></head>

<body onload="time()" class="app sidebar-mini rtl">
<!-- Navbar-->
<div th:replace="admin/layout/header::header"></div>
<!-- Sidebar menu-->
<div th:replace="admin/layout/sidebar::sidebar"></div>


<main class="app-content">
    <div class="row">
        <div class="col-md-12">
            <div class="app-title">
                <ul class="app-breadcrumb breadcrumb">
                    <li class="breadcrumb-item"><a href="#"><b>Báo cáo doanh thu </b></a></li>
                </ul>
                <div id="clock"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <div class="widget-small primary coloured-icon"><i class='icon  bx bxs-user fa-3x'></i>
                <div class="info">
                    <h4>Tổng doanh thu</h4>
                    <p><b>2400 đơn hàng / 104.890.000 đ</b></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="widget-small info coloured-icon"><i class='icon bx bxs-purchase-tag-alt fa-3x'></i>
                <div class="info">
                    <h4>Doanh thu tháng này</h4>
                    <p><b>120 đơn hàng / 10.000.000 đ</b></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <div class="widget-small primary coloured-icon"><i class='icon fa-3x bx bxs-chart'></i>
                <div class="info">
                    <h4>Doanh thu hôm nay</h4>
                    <p><b>3 dơn hàng / 890.000 đ</b></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="widget-small info coloured-icon"><i class='icon fa-3x bx bxs-user-badge'></i>
                <div class="info">
                    <h4>Doanh thu năm nay</h4>
                    <p><b>1300 dơn hàng / 58.090.000 đ</b></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="tile">
                <h3 class="tile-title">DỮ LIỆU HÀNG THÁNG</h3>
                <div class="embed-responsive embed-responsive-16by9">
                    <canvas class="embed-responsive-item" id="lineChartDemo"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="tile">
                <h3 class="tile-title">THỐNG KÊ DOANH SỐ</h3>
                <div class="embed-responsive embed-responsive-16by9">
                    <canvas class="embed-responsive-item" id="barChartDemo"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div>
                    <h3 class="tile-title">SẢN PHẨM BÁN CHẠY</h3>
                </div>
                <div class="tile-body">
                    <table class="table table-hover table-bordered" id="sampleTable">
                        <thead>
                        <tr>
                            <th>Mã sản phẩm</th>
                            <th>Tên sản phẩm</th>
                            <th>Giá tiền</th>
                            <th>Danh mục</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>71309005</td>
                            <td>Bàn ăn gỗ Theresa</td>
                            <td>5.600.000 đ</td>
                            <td>Bàn ăn</td>
                        </tr>
                        <tr>
                            <td>62304003</td>
                            <td>Bàn ăn Vitali mặt đá</td>
                            <td>33.235.000 đ</td>
                            <td>Bàn ăn</td>
                        </tr>
                        <tr>
                            <td>72109004</td>
                            <td>Ghế làm việc Zuno</td>
                            <td>3.800.000 đ</td>
                            <td>Ghế gỗ</td>
                        </tr>
                        <tr>
                            <td>83826226</td>
                            <td>Tủ ly - tủ bát</td>
                            <td>2.450.000 đ</td>
                            <td>Tủ</td>
                        </tr>
                        <tr>
                            <td>71304041</td>
                            <td>Bàn ăn mở rộng Vegas</td>
                            <td>21.550.000 đ</td>
                            <td>Bàn thông minh</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div>
                    <h3 class="tile-title">SẢN PHẨM SẮP HẾT HÀNG</h3>
                </div>
                <div class="tile-body">
                    <table class="table table-hover table-bordered" id="sampleTable2">
                        <thead>
                        <tr>
                            <th>Mã sản phẩm</th>
                            <th>Tên sản phẩm</th>
                            <th>Ảnh</th>
                            <th>Số lượng</th>
                            <th>Tình trạng</th>
                            <th>Giá tiền</th>
                            <th>Danh mục</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>83826226</td>
                            <td>Tủ ly - tủ bát</td>
                            <td><img src="/img-sanpham/tu.jpg" alt="" width="100px;"></td>
                            <td>0</td>
                            <td><span class="badge bg-danger">Hết hàng</span></td>
                            <td>2.450.000 đ</td>
                            <td>Tủ</td>
                        </tr>
                        <tr>
                            <td>83826226</td>
                            <td>Tủ ly - tủ bát</td>
                            <td><img src="/img-sanpham/tu.jpg" alt="" width="100px;"></td>
                            <td>0</td>
                            <td><span class="badge bg-danger">Hết hàng</span></td>
                            <td>2.450.000 đ</td>
                            <td>Tủ</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Essential javascripts for application to work-->
<script src="/admin/doc/js/jquery-3.2.1.min.js"></script>
<script src="/admin/doc/js/popper.min.js"></script>
<script src="/admin/doc/js/bootstrap.min.js"></script>
<script src="/admin/doc/js/main.js"></script>
<!-- The javascript plugin to display page loading on top-->
<script src="/admin/doc/js/plugins/pace.min.js"></script>
<!-- Data table plugin-->
<script type="text/javascript" src="/admin/doc/js/plugins/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/admin/doc/js/plugins/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">$('#sampleTable').DataTable();</script>
<script type="text/javascript">$('#sampleTable2').DataTable();</script>
<!-- Page specific javascripts-->
<script type="text/javascript" src="/admin/doc/js/plugins/chart.js"></script>
<script type="text/javascript">
    var data = {
        labels: ["Tháng 1", "Tháng 2", "Tháng 3", "Tháng 4", "Tháng 5", "Tháng 6", "Tháng 7", "Tháng 8", "Tháng 9", "Tháng 10", "Tháng 11", "Tháng 12"],
        datasets: [{
            label: "Dữ liệu đầu tiên",
            fillColor: "rgba(255, 255, 255, 0.158)",
            strokeColor: "black",
            pointColor: "rgb(220, 64, 59)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "green",
            data: [20, 59, 90, 51, 56, 100, 40, 60, 78, 53, 33, 81]
        },
            {
                label: "Dữ liệu kế tiếp",
                fillColor: "rgba(255, 255, 255, 0.158)",
                strokeColor: "rgb(220, 64, 59)",
                pointColor: "black",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "green",
                data: [48, 48, 49, 39, 86, 10, 50, 70, 60, 70, 75, 90]
            }
        ]
    };


    var ctxl = $("#lineChartDemo").get(0).getContext("2d");
    var lineChart = new Chart(ctxl).Line(data);

    var ctxb = $("#barChartDemo").get(0).getContext("2d");
    var barChart = new Chart(ctxb).Bar(data);
</script>
<!-- Google analytics script-->
<script type="text/javascript">
    if (document.location.hostname == 'pratikborsadiya.in') {
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-72504830-1', 'auto');
        ga('send', 'pageview');
    }
</script>
</body>
</html>