<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/layout/head :: head}">
    <title>Danh sách nhân viên | Quản trị Admin</title>


<link rel="stylesheet" th:href="@{/admin/docs/css/main.css}">

<!--<body onload="time()" class="app sidebar-mini rtl">-->
<!--&lt;!&ndash; Navbar&ndash;&gt;-->
<!--<div th:replace="~{admin/layout/header :: header}"></div>-->
<!--&lt;!&ndash; Sidebar menu&ndash;&gt;-->
<!--<div th:replace="~{admin/layout/sidebar :: sidebar}"></div>-->


<body onload="time()" class="app sidebar-mini rtl">
<!-- Navbar-->
<div th:replace="~{admin/layout/header :: header}"></div>
<!-- Sidebar menu-->
<div th:replace="~{admin/layout/sidebar :: sidebar}"></div>
<main class="app-content">
  <div class="row">
    <div class="col-md-12">
      <div class="app-title">
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><a href="#"><b>POS bán hàng</b></a></li>
        </ul>
        <div id="clock"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="tile">
        <h3 class="tile-title">Phần mềm bán hàng</h3>
        <div class="du--lieu-san-pham">
          <table class="table table-hover table-bordered">
            <thead>
            <tr>

              <th class="so--luong">Mã hàng</th>
              <th class="so--luong">Tên sản phẩm</th>
              <th class="so--luong">Ảnh</th>
              <th class="so--luong" width="10">Số lượng</th>
              <th class="so--luong">Giá bán</th>
              <th class="so--luong text-center" style="text-align: center; vertical-align: middle;"></th>
            </tr>
            </thead>
            <tbody>
            <tr>

              <td>71309005</td>
              <td>Bàn ăn gỗ Theresa</td>
              <td><img src="/img-sanpham/reno.jpg" alt="" width="50px;"></td>
              <td><input class="so--luong1" type="number" value="2"></td>
              <td >5.600.000 </td>

              <td style="text-align: center; vertical-align: middle;">
                <button class="btn btn-primary btn-sm trash" type="button" title="Xóa"><i class="fas fa-trash-alt"></i></button>
              </td>
            </tr>



            </tbody>
          </table>
        </div>

        <input type="text" id="myInput" onkeyup="myFunction()"
               placeholder="Nhập mã sản phẩm hoặc tên sản phẩm để tìm kiếm...">
        <div class="du--lieu-san-pham">
          <table class="table table-hover table-bordered">
            <thead>
            <tr>

              <th class="so--luong">STT</th>
              <th class="so--luong">Tên sản phẩm</th>
              <th class="so--luong">Gía</th>
              <th class="so--luong" width="10">Số lượng</th>
              <th class="so--luong">Màu sắc</th>
              <th class="so--luong">Kích thước</th>
              <th class="so--luong"></th>
            </tr>
            </thead>
            <tbody>
            <tr>

            <tbody>
            <tr th:each="productDetail, index : ${listProductDetails}">
              <td class="stt" th:text="${index.index + 1}"></td>
              <td class="ten_san_pham" th:text="${productDetail.product.name}"></td>
              <th class="so_luong_ton" th:text="${productDetail.price}"></th>
              <th class="so_luong_ton" th:text="${productDetail.quantity}"></th>
              <th class="so_luong_ton" th:text="${productDetail.color.name}"></th>
              <th class="so_luong_ton" th:text="${productDetail.size.name}"></th>

              <td class="table-td-center tinh_nang">
                <button class="btn btn-primary btn-sm edit" type="button"
                        th:attr="data-product-id=${productDetail.id},id=#{${productDetail.id}}"
                        onclick="addToCart()"><i class="fas fa-edit"></i>
                </button>
              </td>
            </tr>
            </tbody>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="alert">

          <i class="fas fa-exclamation-triangle"></i> Gõ mã hoặc tên sản phẩm vào thanh tìm kiếm để thêm hàng vào đơn hàng
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="tile">
        <h3 class="tile-title">Thông tin thanh toán</h3>
        <div class="row">
          <div class="form-group  col-md-10">
            <label class="control-label">Họ tên khách hàng</label>
            <input class="form-control" type="text" placeholder="Tìm kiếm khách hàng">
          </div>
          <div class="form-group  col-md-2">
            <label style="text-align: center;" class="control-label">Tạo mới</label>
            <button class="btn btn-primary btn-them" data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa-user-plus"></i>
            </button>
          </div>
          <div class="form-group  col-md-12">
            <label class="control-label">Nhân viên bán hàng</label>
            <select class="form-control" id="exampleSelect1">
              <option>--- Chọn nhân viên bán hàng ---</option>
              <option>Võ Trường</option>
              <option>Nhật Kim Anh</option>
              <option>Đào Thanh Tuấn</option>
              <option>Phạm Phong Phú</option>
            </select>
          </div>
          <div class="form-group  col-md-12">
            <label class="control-label">Ghi chú đơn hàng</label>
            <textarea class="form-control" rows="4" placeholder="Ghi chú thêm đơn hàng"></textarea>
          </div>

        </div>
        <div class="row">

          <div class="form-group  col-md-12">
            <label class="control-label">Hình thức thanh toán</label>
            <select class="form-control" id="exampleSelect2" required>
              <option>Thanh toán chuyển khoản</option>
              <option>Trả tiền mặt tại quầy</option>
            </select>
          </div>
          <div class="form-group  col-md-6">
            <label class="control-label">Tạm tính tiền hàng: </label>
            <p class="control-all-money-tamtinh">= 129.397.213 VNĐ</p>
          </div>
          <div class="form-group  col-md-6">
            <label class="control-label">Giảm giá (F7): </label>
            <input class="form-control" type="number" value="0">
          </div>
          <div class="form-group  col-md-6">
            <label class="control-label">Tổng cộng thanh toán: </label>
            <p class="control-all-money-total">= 129.397.213 VNĐ</p>
          </div>
          <div class="form-group  col-md-6">
            <label class="control-label">Khách hàng đưa tiền (F8): </label>
            <input class="form-control" type="number" value="290000">
          </div>
          <div class="form-group  col-md-12">
            <label class="control-label">Khách hàng còn nợ: </label>
            <p class="control-all-money"> - 129.397.213 VNĐ</p>
          </div>
          <div class="tile-footer col-md-12">
            <button class="btn btn-primary luu-san-pham" type="button"> Lưu đơn hàng (F9)</button>
            <button class="btn btn-primary luu-va-in" type="button">Lưu và in hóa đơn (F10)</button>

            <a class="btn btn-secondary luu-va-in" href="index.html">Quay về</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</main>

<!--
MODAL
-->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <div class="row">
          <div class="form-group  col-md-12">
          <span class="thong-tin-thanh-toan">
            <h5>Tạo mới khách hàng</h5>
          </span>
          </div>
          <div class="form-group col-md-12">
            <label class="control-label">Họ và tên</label>
            <input class="form-control" type="text" required>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label">Địa chỉ</label>
            <input class="form-control" type="text" required>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label">Email</label>
            <input class="form-control" type="text" required>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label">Ngày sinh</label>
            <input class="form-control" type="date" required>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label">Số điện thoại</label>
            <input class="form-control" type="number" required>
          </div>
        </div>
        <BR>
        <button class="btn btn-save" type="button">Lưu lại</button>
        <a class="btn btn-cancel" data-dismiss="modal" href="#">Hủy bỏ</a>
        <BR>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!--
MODAL
-->


<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">X</span>
    </div>


  </div>

</div>
<!-- Essential javascripts for application to work-->
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
<!-- The javascript plugin to display page loading on top-->
<script src="js/plugins/pace.min.js"></script>
<!-- Page specific javascripts-->
<!-- Data table plugin-->
<script type="text/javascript" src="js/plugins/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="js/plugins/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">$('#sampleTable').DataTable();</script>

<div th:replace="~{admin/layout/script :: script}"></div>
<script th:src="@{/admin/js/counter/counter.js}"></script>
</body>

</html>