<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{client/layout/head::head}"></head>

<body>

<!-- header section start -->
<header th:replace="~{client/layout/header::header}"></header>
<!-- header section end -->
<!-- pages-title-start -->
<div class="pages-title section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="pages-title-text text-center">
                    <h2>Login</h2>
                    <ul class="text-left">
                        <li><a th:href="@{/}">Home </a></li>
                        <li><span> // </span>Login</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- pages-title-end -->
<!-- login content section start -->
<section class="pages login-page section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="main-input padding60">
                    <div class="log-title">
                        <h3><strong>login</strong></h3>
                    </div>
                    <div class="login-text">
                        <div class="custom-input">
                            <form th:action="@{/login}" method="post">
                                <input type="text" name="email" placeholder="Email" />
                                <input type="password" name="password" placeholder="Password" />
                                <div class="row justify-content-evenly">
                                    <div class="col-md-5">
                                        <a class="forget" href="#">Forget password?</a>
                                    </div>
                                    <div class="col-md-5">
                                        <a class="forget" th:href="@{/registerPage}">Register?</a>
                                    </div>
                                </div>
                                <div class="submit-text">
                                    <button type="submit" style="display: block; margin: 0 auto;">LOGIN</button>
                                </div>
                                <br>
                                <div th:if="${error}" class="error" style="text-align: center;">
                                    <span th:text="${error}"></span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</section>
<!-- login content section end -->
<!-- footer section start -->
<div th:replace="~{client/layout/footer::footer}"></div>
<!-- footer section end -->

<!-- all js here -->
<!-- jquery latest version -->
<div th:replace="~{client/layout/script::script}"></div>
</body>

</html>
